@value makerLightGreen, makerLightYellow from '../../base/colour.css';

.editor {
    flex-basis: 50%;
    background-color: makerLightYellow; 
    padding: 1em 5em;
}

.title {
    text-align: center;
    font-size: 1rem;
}