@value makerYellow from '../../base/colour.css';

.preview {
    flex-basis: 50%;
    background-color: makerYellow;
}

.title {
    text-align: center;
    font-size: 1rem;
}

.cards {
    width: 100%;
    height: 100%;
    padding: 1em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}