@value makerWhite, makerRed, makerDarkGreen, makerLightGreen, makerLightGrey from '../../base/colour.css';


.login {
    width: 30em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: makerWhite;
}

.list {
    width: 100%;
    list-style: none;
    padding: 0 1em;
    margin: 0.5em 0;
}



.button {
    width: 100%;
    border-radius: 10px;
    border: 2px makerGreen;
    padding: 0.5em;
    background-color: makerWhite;
}

.content {
    background-color: makerLightGrey;
}

.input {
    width: 100%;
    border-radius: 10px;
    border: 2px makerGreen;
    padding: 0.5em;
    background-color: makerLightGreen;
    margin-bottom: 0.5em;
    text-align: center;
    
}

::placeholder {
    color: makerWhite;
}

.error {
    color: makerRed;
}

.success {
    color: makerDarkGreen;
}

.hide {
    display: none;
}

.or {

}